#root {
  height: 100vh;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.navbar {
  width:100vw;
  background-color: rgb(49, 49, 222);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
main
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #61dafbaa;
  gap: 1.25em;
  padding-top: 20px;
  padding-bottom: 20px;
}
.user-card {
  background-color: #61dafbaa;
  border-radius: 20px;
  border: 4px black solid;
}

.footer {
  background-color: rgb(67, 67, 213);
  padding: 20px 0px;
  color: white;
}